.rowHead {
  display: grid;
  width: 100%;
  .rowHeadIcon,
  .rowHeadProduct,
  .rowHeadProfit,
  .rowHeadMaterialName {
    display: none;
  }

  .rowHeadPrice {
    display: flex;
    gap: 0.5em;
  }

  .rowHeadMaterial,
  .rowHeadProduct {
    container-type: inline-size;
    .rowHeadContent {
      display: grid;
      width: 100%;
      grid-template-columns: 3.5em 1fr 4em;

      @container (min-width: 28em) {
        grid-template-columns: 3.5em 1fr 10em 4em;

        .rowHeadMaterialName {
          display: block;
        }
      }
    }
  }

  @media (min-width: 44em) {
    grid-template-columns: 1fr 1fr;
    .rowHeadProfit {
      display: block;
    }
  }

  @media (min-width: 60em) {
    grid-template-columns: 1fr 1em 1fr 1em 14em;
    .rowHeadIcon,
    .rowHeadProduct {
      display: block;
    }
  }
  @media (min-width: 70em) {
    grid-template-columns: 1fr 4em 1fr 4em 17.5em;
  }
}
.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1em max-content 1em max-content;
  align-items: center;
  justify-items: center;

  .icon {
    transform: rotate(90deg);

    &.dontRotate {
      transform: translateY(0.25em);
    }
  }

  @media (min-width: 44em) {
    grid-template-columns: 1fr 1em 1fr;
    grid-template-rows: max-content 1em max-content;

    .materials {
      grid-area: 1/1/2/2;
    }
    .convertIcon {
      grid-area: 2/1/3/2;
    }
    .product {
      grid-area: 3/1/4/2;
    }
    .resultIcon {
      grid-area: 2/2/3/3;
      transform: rotate(0deg);
    }
    .profit {
      grid-area: 1/3/4/4;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 60em) {
    grid-template-columns: 1fr 1em 1fr 1em max-content;
    grid-template-rows: 1fr;

    .icon {
      transform: rotate(0deg);
    }

    .materials {
      grid-area: auto;
    }
    .convertIcon {
      grid-area: auto;
    }
    .product {
      grid-area: auto;
    }
    .resultIcon {
      grid-area: auto;
    }
    .profit {
      grid-area: auto;
    }
  }

  @media (min-width: 70em) {
    grid-template-columns: 1fr 4em 1fr 4em 17.5em;
  }
}
