.root {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: left;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  border: dashed 0.2em var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);
  container-type: inline-size;

  .content {
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    .withProfit {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: 1fr max-content;

      .price {
        gap: 0.5em;
      }

      .percent {
        display: none;
        @container (min-width: 15em) {
          display: block;
        }
      }
    }
  }
}
