/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Hero/Hero.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Hero_title__JisBU {
  color: var(--mantine-color-black);
}
  [data-mantine-color-scheme='dark'] .Hero_title__JisBU {
  color: var(--mantine-color-white);
}
  .Hero_title__JisBU {
  font-size: calc(6.25rem * var(--mantine-scale));
  font-weight: 900;
  letter-spacing: calc(-0.125rem * var(--mantine-scale));
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/GoldInput/GoldInput.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.GoldInput_wrapper__rM6lE {
  display: grid;
  grid-template-columns: 1fr 3.75em 3.75em;
  min-width: 11.3em;
  gap: 0;
  border-radius: var(--mantine-radius-default);
  overflow: hidden;
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-4);
  height: 100%;
}

[data-mantine-color-scheme='dark'] .GoldInput_wrapper__rM6lE {
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4);
}

.GoldInput_inputWrapper__xJCZs,
.GoldInput_inputRoot__2IWtv,
.GoldInput_input__1eaiv {
  height: 100%;
}

.GoldInput_section__OjTNe {
  width: max-content;
  padding: 0;
  padding-right: 0.5em;
}

.GoldInput_input__1eaiv {
  border: none;
  border-radius: 0;
  padding-left: 0.5em;
  padding-right: 1.75em;
  transition: border-color 100ms ease;
}

.GoldInput_input__1eaiv:focus {
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-primary-color-filled);
  }
.GoldInput_silver__LB6WA {
  border-left: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-4);
  border-right: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-4);
}
[data-mantine-color-scheme='dark'] .GoldInput_silver__LB6WA {
    border-left: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4);
    border-right: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-dark-4);
}

.GoldInput_silver__LB6WA,
.GoldInput_copper__dh9X4 {
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/MaterialsCard/MaterialCard.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.MaterialCard_root__Q3Kr7 {
  display: grid;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 0.5em;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 3em;
  grid-template-columns: 1fr !important;
}
.MaterialCard_item__zwsfI {
  display: grid;
  grid-template-columns: 3em 1fr;
  gap: 0.5em;
  container-type: inline-size;
}
.MaterialCard_image__9KdIa {
  width: 100%;
  height: 100%;
  position: relative;
}
.MaterialCard_name__hAf1T {
  display: none;
}
@container (min-width: 27em) {
.MaterialCard_name__hAf1T {
    display: block;
}
  }
.MaterialCard_info__uXJ1H {
  padding: 0.25em;
  align-items: center;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr max-content;
}
@container (min-width: 27em) {
.MaterialCard_info__uXJ1H {
    grid-template-columns: 1fr 11.3em 2.75em;
}
  }
.MaterialCard_quantity__i59o9 {
  max-width: 3.5em;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Profit/Profit.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Profit_root__lcnel {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-self: left;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  border: dashed 0.2em var(--mantine-color-dark-8);
  border-radius: var(--mantine-radius-md);
  container-type: inline-size;
}
.Profit_root__lcnel .Profit_content__NdTQY {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
.Profit_root__lcnel .Profit_content__NdTQY .Profit_withProfit__R6NgW {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: 1fr max-content;
    }
.Profit_root__lcnel .Profit_content__NdTQY .Profit_withProfit__R6NgW .Profit_price__lkmuI {
        gap: 0.5em;
      }
.Profit_root__lcnel .Profit_content__NdTQY .Profit_withProfit__R6NgW .Profit_percent__d5CZr {
        display: none;
      }
@container (min-width: 15em) {
  .Profit_root__lcnel .Profit_content__NdTQY .Profit_withProfit__R6NgW .Profit_percent__d5CZr {
          display: block;
      }
        }

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ItemsGrid/Row/Row.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Row_rowHead__JyIqz {
  display: grid;
  width: 100%;
}
.Row_rowHead__JyIqz .Row_rowHeadIcon__qA5V0,
  .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO,
  .Row_rowHead__JyIqz .Row_rowHeadProfit__al2SY,
  .Row_rowHead__JyIqz .Row_rowHeadMaterialName__UZj5j {
    display: none;
  }
.Row_rowHead__JyIqz .Row_rowHeadPrice___Z2eC {
    display: flex;
    gap: 0.5em;
  }
.Row_rowHead__JyIqz .Row_rowHeadMaterial__hvCuy,
  .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO {
    container-type: inline-size;
  }
.Row_rowHead__JyIqz .Row_rowHeadMaterial__hvCuy .Row_rowHeadContent__64wPZ, .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO .Row_rowHeadContent__64wPZ {
      display: grid;
      width: 100%;
      grid-template-columns: 3.5em 1fr 4em;
    }
@container (min-width: 28em) {
.Row_rowHead__JyIqz .Row_rowHeadMaterial__hvCuy .Row_rowHeadContent__64wPZ, .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO .Row_rowHeadContent__64wPZ {
        grid-template-columns: 3.5em 1fr 10em 4em;
    }

        .Row_rowHead__JyIqz .Row_rowHeadMaterial__hvCuy .Row_rowHeadContent__64wPZ .Row_rowHeadMaterialName__UZj5j, .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO .Row_rowHeadContent__64wPZ .Row_rowHeadMaterialName__UZj5j {
          display: block;
        }
      }
@media (min-width: 44em) {
.Row_rowHead__JyIqz {
    grid-template-columns: 1fr 1fr;
}
    .Row_rowHead__JyIqz .Row_rowHeadProfit__al2SY {
      display: block;
    }
  }
@media (min-width: 60em) {
.Row_rowHead__JyIqz {
    grid-template-columns: 1fr 1em 1fr 1em 14em;
}
    .Row_rowHead__JyIqz .Row_rowHeadIcon__qA5V0,
    .Row_rowHead__JyIqz .Row_rowHeadProduct__g_LpO {
      display: block;
    }
  }
@media (min-width: 70em) {
.Row_rowHead__JyIqz {
    grid-template-columns: 1fr 4em 1fr 4em 17.5em;
}
  }
.Row_row___dYtF {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1em max-content 1em max-content;
  align-items: center;
  justify-items: center;
}
.Row_row___dYtF .Row_icon__TwO4M {
    transform: rotate(90deg);
    position: relative;
    z-index: 2;
  }
.Row_row___dYtF .Row_icon__TwO4M.Row_dontRotate__5glxF {
      transform: translateY(0.25em);
    }
@media (min-width: 44em) {
.Row_row___dYtF {
    grid-template-columns: 1fr 1em 1fr;
    grid-template-rows: max-content 1em max-content;
}

    .Row_row___dYtF .Row_materials__ao_ZN {
      grid-area: 1/1/2/2;
    }
    .Row_row___dYtF .Row_convertIcon__7Gqbs {
      grid-area: 2/1/3/2;
    }
    .Row_row___dYtF .Row_product__6JSfv {
      grid-area: 3/1/4/2;
    }
    .Row_row___dYtF .Row_resultIcon__0X5FF {
      grid-area: 2/2/3/3;
      transform: rotate(0deg);
    }
    .Row_row___dYtF .Row_profit__Gvn_Y {
      grid-area: 1/3/4/4;
      width: 100%;
      height: 100%;
    }
  }
@media (min-width: 60em) {
.Row_row___dYtF {
    grid-template-columns: 1fr 1em 1fr 1em 14em;
    grid-template-rows: 1fr;
}

    .Row_row___dYtF .Row_icon__TwO4M {
      transform: rotate(0deg);
    }

    .Row_row___dYtF .Row_materials__ao_ZN {
      grid-area: auto;
    }
    .Row_row___dYtF .Row_convertIcon__7Gqbs {
      grid-area: auto;
    }
    .Row_row___dYtF .Row_product__6JSfv {
      grid-area: auto;
    }
    .Row_row___dYtF .Row_resultIcon__0X5FF {
      grid-area: auto;
    }
    .Row_row___dYtF .Row_profit__Gvn_Y {
      grid-area: auto;
    }
  }
@media (min-width: 70em) {
.Row_row___dYtF {
    grid-template-columns: 1fr 4em 1fr 4em 17.5em;
}
  }

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ItemsGrid/ItemsGrid.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.ItemsGrid_grid__pcsc4 {
  display: grid;
  gap: 1em;
  width: max-content;
  margin: auto;
  container-type: inline-size;
}

